<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.html">
</head>
<body>
    
    <h2><u>CUSTOM'S FORM</u></h2>
    
    <label for="f.name">firstname:</label><br>
    <input type="text"><br>
    <label for="l.name">secondname:</label><br>
    <input type="text"><br>
    <label for="Age">Age:</label><br>
    <input type="number"><br>
    <label>Birth date</label><br>
    <input type="date"><br>
    <label for="number">Phone number:</label><br>
    <input type="number"><br>
    <label for="email">Email:</label><br>
    <input type="text"><br>
    <label for="email">IDcard or Passport:</label><br>
    <input type="text"><br>
    <button onclick="submit"> <a href="signup.html">Home</a></button><br>
</body>
</html>