<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRATION CUSTOM'S <FORM></title>
    <link rel="customers.html" href="index.css">
</head>
<body>
        <h2><u>CUSTOMER'S FORM</u></h2>
        <p>
        <labe>firstname:</label><br>
        <input type="text"><br>
        <label>secondname:</label><br>
        <input type="text"><br>
        <label>Age:</label><br>
        <input type="number"><br>
        <label>Phone number:</label><br>
        <input type="number"><br>
        <label>Email:</label><br>
        <input type="email"><br>
        <label>IDcard or Passport:</label><br>
        <input type="text"><br>
    </p>
    <p>
        <h3><u>Customer's saving</u></h3>
        <label>Fullname:</label><br>
        <input type="text"><br> 
        <label>Time to arrival</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Time to go back:</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Money to saving:</label><br>
        <input type="number FRW"><br>
        <label>Time to saving:</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Account number:</label><br>
        <input type="number"><br>
        <label>IDcard number:</label><br>
        <input type="number"><br>
    </p>
  
    <p>
        <h4><u>Customer's depositing</u></h4>
        <label>Fullname</label><br>
        <input type="text"><br>
        <label>Time to arrival</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Time to go back:</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Money to deposite:</label><br>
        <input type="numbe FRW"><br>
        <label>Account number:</label><br>
        <input type="number"><br>
        <label>IDcard number:</label><br>
        <input type="number"><br>
    </p>
    <p>
        <h5><u>Customer's loan</u></h5>
        <label>Fullname</label><br>
        <input type="text"><br>
        <label>Time to arrival</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Time to go back:</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Money to loan:</label><br>
        <input type="numbe FRW"><br>
        <label>Money to  pay loan:</label><br>
        <input type="numbe FRW"><br>
        <label>Date to pay loan</label><br>
        <input type="hhh/ddd/mmm/yyy"><br>
        <label>Account number:</label><br>
        <input type="number"><br>
        <label>IDcard number:</label><br>
        <input type="number"><br>
        
    </p>
        <p>
      
        <h5><u>Customer's Account</u></h5>
        <label><u>Fullname</label><br>
        <input type="text"><br>
        <labe>Name of bank</label><br>
        <input type="text"><br>
        <label>Account</label><br>
        <input type="numbe FRW"><br>
    </p>
    </select>
    </div>
</body>
</html>