<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
</style>
<body>
    <center>
    <label>Fullname:</label><br>
    <input type="text"><br>
    <label>Name of back:</label><br>
    <input type="text"><br>
    <label>password</label><br>
    <input type="password"><br>
    <button onclick="submit"><a href="services.html">Signup</a></button><br>
</center>
</body>
</html>